@font-face {
    font-family: Lexend-Thin;
    src: url(../fonts/lexend/Lexend-Thin.ttf);
    font-weight: 100;
}
@font-face {
    font-family: Lexend-ExtraLight;
    src: url(../fonts/lexend/Lexend-ExtraLight.ttf);
    font-weight: 200;
}
@font-face {
    font-family: Lexend-Light;
    src: url(../fonts/lexend/Lexend-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Lexend-Regular;
    src: url(../fonts/lexend/Lexend-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Lexend-Medium;
    src: url(../fonts/lexend/Lexend-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Lexend-SemiBold;
    src: url(../fonts/lexend/Lexend-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Lexend-Bold;
    src: url(../fonts/lexend/Lexend-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Lexend-ExtraBold;
    src: url(../fonts/lexend/Lexend-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: Lexend-Black;
    src: url(../fonts/lexend/Lexend-Black.ttf);
    font-weight: 900;
}